<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="row col-lg-12" id="content-navbar">

    <div class="col-sm-12 ">
      <button type="button" class="navbar-toggler navbar-toggler-right"(click)="isCollapsed = !isCollapsed"
        data-toggle="collapse" data-target="#navbarResponsive" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseBasic"><i class="fa fa-bars"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse col-sm-3">

      <a class="navbar-brand js-scroll-trigger " href="#page-top"><img
          src="https://lylemi-projet-al04.s3.eu-west-3.amazonaws.com/image-logo/le-logo-noir.png" alt=""
          class="img-responsive" /></a>

    </div>


    <div class="col-sm-9 mr-auto">
      <div class="row">
        <div class="collapse navbar-collapse col-sm-12" id="collapseBasic" [collapse]="isCollapsed">

          <div class="row col-8">
            <div id="custom-search-input" class="col-sm-11">
              <div class="input-group">
                <input [(ngModel)]="nomRecherche" type="text" class="search-query form-control"
                  placeholder="Trouve ta recette..." />
               
              </div>
            </div>
            <div class="ml-auto">
              <button class="btn btn-primary search-btn" type="button" (click)="rechercherParNom()" value="recherch">
                <a> <i class="fa fa-search" style="font-size:25px;color:#fff"></i> </a>
              </button>
            </div>
          </div>


          <ul class="navbar-nav text-uppercase ml-auto">
         

            <div  *ngIf="authority === 'user'" class="btn-group" dropdown placement="bottom right">
              <button  type="button"  style="color: transparent;align-content: center;"
              routerLink="/user"   class="btn btn-primary ">
                      <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size:35px;color:#fff"></i>   
              </button>
              <button id="button-alignment" dropdownToggle type="button" 
                      class="btn btn-primary dropdown-toggle" aria-controls="dropdown-alignment">
                            {{info.username}} <span class="caret"></span>
              </button>
              <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                  role="menu" aria-labelledby="button-alignment">
                <li role="menuitem"><a class="dropdown-item" routerLink="/user" >Mes recettes favorites</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Mon profil culinaire</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Mes coordonnées</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" routerLink="/" (click)="logout()">Déconnexion</a></li>
              </ul>
            </div>

            <li *ngIf="!authority" class="nav-item">
              <b><a class="nav-link" routerLink='/login'>Se connecter</a></b>
            </li>

            <li *ngIf="authority === 'admin'" class="nav-item">
              <a class="nav-link" routerLink="/admin">Espace Admin</a>
            </li>
            
          </ul>
        </div>

        <div class="collapse navbar-collapse col-lg-12" id="collapseBasic" [collapse]="isCollapsed">
          <ul class="navbar-nav text-uppercase mr-auto offset-1 ">
            <li class="nav-item"><b><a class="nav-link" routerLink="/recette">Recettes</a></b></li>
            <li class="nav-item"><b><a class="nav-link" routerLink="/recetteCategorie"
                  (click)=" recupererRecetteParCategorie('aperitif')">Apéritifs</a></b></li>
            <li class="nav-item"><b><a class="nav-link" routerLink="/recetteCategorie"
                  (click)=" recupererRecetteParCategorie('entree')">Entrées</a></b></li>
            <li class="nav-item"><b><a class="nav-link" routerLink="/recetteCategorie"
                  (click)=" recupererRecetteParCategorie('plat')">Plats</a></b></li>
            <li class="nav-item"><b><a class="nav-link" routerLink="/recetteCategorie"
                  (click)=" recupererRecetteParCategorie('dessert')">Desserts</a></b></li>
            <li class="nav-item"><b><a class="nav-link" routerLink="/recetteCategorie"
                  (click)=" recupererRecetteParCategorie('boisson')">Boissons</a></b></li>
          </ul>


        </div>

      </div>
    </div>
  </div>
</nav>