<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="row col-lg-12" id="content-navbar">

    <div class="col-sm-12 ">
    <button type="button" class="navbar-toggler navbar-toggler-left" (click)="isCollapsed = !isCollapsed"
      data-toggle="collapse" data-target="#navbarResponsive" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic"><i class="fa fa-bars"></i>
    </button>
    </div>
    <div class="collapse navbar-collapse col-sm-3">
      
        <a class="navbar-brand js-scroll-trigger " href="#page-top"><img
              src="https://lylemi-projet-al04.s3.eu-west-3.amazonaws.com/image-logo/le-logo-noir.png" alt=""
              class="img-responsive" /></a>
      
    </div>


    <div class="col-sm-9 mr-auto">
    <div class="row">
      <div class="collapse navbar-collapse col-lg-12" id="collapseBasic" [collapse]="isCollapsed">

        <ul class="navbar-nav text-uppercase ml-auto">
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
          <li *ngIf="authority === 'user'" class="nav-item">
            <b><a class="nav-link" routerLink="/user">{{info.username}}</a></b>
          </li>
          <li *ngIf="authority === 'admin'" class="nav-item">
            <a class="nav-link" routerLink="/admin">Espace Admin</a>
          </li>
          <li *ngIf="!authority" class="nav-item">
            <b><a class="nav-link" routerLink='/login'>Login</a></b>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse col-lg-12" id="collapseBasic" [collapse]="isCollapsed">
        <ul class="navbar-nav text-uppercase mr-auto offset-1 ">
          <li class="nav-item"><b><a class="nav-link" routerLink="/recette">Recettes</a></b></li>
          <li class="nav-item"><b><a class="nav-link" routerLink="/recetteCategorie" (click)=" recupererRecetteParCategorie('aperitif')">Apéritifs</a></b></li>
          <li class="nav-item"><b><a class="nav-link" routerLink="/recetteCategorie" (click)=" recupererRecetteParCategorie('entree')">Entrées</a></b></li>
          <li class="nav-item"><b><a class="nav-link" routerLink="/recetteCategorie" (click)=" recupererRecetteParCategorie('plat')">Plats</a></b></li>
          <li class="nav-item"><b><a class="nav-link" routerLink="/recetteCategorie" (click)=" recupererRecetteParCategorie('dessert')">Desserts</a></b></li>
          <li class="nav-item"><b><a class="nav-link" routerLink="/recetteCategorie" (click)=" recupererRecetteParCategorie('boisson')">Boissons</a></b></li>
        </ul>


      </div>

    </div>
    </div>
  </div>
</nav>