<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="collapse col-lg-2"> 
                <!-- <a class="navbar-brand js-scroll-trigger " href="#page-top">
                <img src="https://lylemi-projet-al04.s3.eu-west-3.amazonaws.com/image-logo/le-L-jaune.png" alt=""
                class="img-responsive" /></a> -->
            </div>
            <div class="col-lg-4 text-lg-left"><ul>
                <li>Accéder aux <a href="/recette"><b><u>recettes</u></b></a></li>
                <li><a>Contactez-nous</a></li>
            </ul></div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="col-lg-4 text-lg-right">
                <a class="mr-3" href="#!">Privacy Policy</a>
                <a href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>