<div class="box">
    <div class="container mt-5">
        <h1>plat works!</h1>
        <div class="row">

            <div *ngFor="let plat of recettes" class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top" [src]="plat.imageRecette" alt="...">
                    <div class="card-block">
                        <h5 class="text-bold">{{plat.nomRecette}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>