<section class="page-section bg-light" id="portfolio">
    <div class="container col-sm-7">
        <form name="form" method="post">
            <div class="row form-group">
                 
                  
                <input  type="text" class="search-query form-control col-md-3" placeholder="Ingredient 1" name="ingredient1"  [(ngModel)]="ingredient1"  />
                <input [(ngModel)]="ingredient2" name="ingredient2"  type="text"  class="search-query form-control col-md-3" placeholder="Ingredient 2" />
                <input [(ngModel)]="ingredient3" name="ingredient3"  type="text"  class="search-query form-control col-md-3" placeholder="Ingredient 3" />
                <button class="col-md-3 btn btn-success search-btn" type="submit" (click)="rechercherParIngredients()" style="background-color: #fed136;border:none" >
                    <a> <i class="fa fa-search" style="font-size:25px;color:black;"></i> </a>
                </button>
            </div>
          </form>
        <form name="form" method="post">
            <div class="row form-group">
                 
                  
                <input  type="text" class="search-query form-control col-md-3" placeholder="Recette" name="nom"  [(ngModel)]="nom"  />
                <input [(ngModel)]="avecIngredient" name="avecIngredient"  type="text"  class="search-query form-control col-md-3" placeholder="Avec ingredient " />
                <input [(ngModel)]="sansIngredient" name="sansIngredient"  type="text"  class="search-query form-control col-md-3" placeholder="Sans ingredient " />
                <button class="col-md-3 btn btn-success search-btn" type="submit" (click)="rechercherAvecSansIngredients()" style="background-color: #fed136;border:none" >
                    <a> <i class="fa fa-search" style="font-size:25px;color:black;"></i> </a>
                </button>
            </div>
          </form>
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Les meilleures Recettes</h2>
            <h3 class="section-subheading text-muted">Réunies pour VOUS !!!</h3>
        </div>
        <div class="row">
            <div *ngFor="let recette of recettes | paginate: { itemsPerPage: 18, currentPage: pageActuelle }"
                class="col-lg-4 col-sm-5 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" routerLink="/pageRecette" data-toggle="modal"
                        (click)="openModalWithClass(template)">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"></div>
                        </div>
                        <img class="img-fluid" [src]="recette.imageRecette" alt="...." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{recette.nomRecette}}</div>
                        <div class="portfolio-caption-subheading text-muted">{{recette.note}}</div>
                    </div>
                </div>

                <!-- le modal de recette -->
                <ng-template #template>
                    
                        
                        <button type="button" class="close pull-right ml-auto" aria-label="Close"  (click)="modalRef.hide()">
                            <span aria-hidden="true" style="size: 50px;">&times;</span>
                        </button>
                   
                    <!-- recette area -->
                    <div class="container " id="recette-pdf">
                        <div class="row">
                            <div class="col-xl-12" id="id-section">
                                <div class="section-title text-center mb-60">
                                    <!-- <p>titre</p> -->
                                    <h4>{{recette.nomRecette}}</h4>
                                    <div class="card">
                                        <rating [ngModel]="rate" [max]="max" [readonly]="isReadonly" size="50"></rating>
                                        <b>{{recette.note}}</b>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="container ">

                            <div class="row ">



                                
                                    <div class="recepie_details_area col-xl-6 col-md-6">
                                        <div class="recepies_thumb">
                                            <img src="{{recette.imageRecette}}" alt="">
                                        </div>
                                    </div>
                                



                                <div class="offset-2 col-xl-4 col-md-4">
                                    <div class="recepies_info">
                                        <div class="resepies_details">
                                            <ul>
                                                <!-- <li> -->
                                                <p><strong>Recette de {{recette.site}}</strong> </p>
                                                <!-- </li> -->
                                                <!-- <li> -->
                                                <p><i class="fa fa-euro"
                                                        style="font-size:20px;color:#C90103"></i><strong> Budget
                                                        :</strong> {{recette.budget}} </p>
                                                <!-- </li> -->
                                                <!-- <li> -->
                                                <p><i class="fa fa-coffee"
                                                        style="font-size:20px;color:#C90103"></i><strong> Difficultée
                                                        :</strong> {{recette.difficulte}} </p>
                                                <!-- </li> -->
                                                <!-- <li> -->
                                                <p><i class="fa fa-pie-chart"
                                                        style="font-size:20px;color:#C90103"></i><strong> Portion
                                                        :</strong> {{recette.portion}} </p>
                                                <!-- </li> -->


                                            </ul>

                                            <div class="row">
                                                <div class="offset-1 col-md-1">
                                                    <button class="main-btn btn btn-info" popover="Télécharger"
                                                        triggers="mouseenter:mouseleave">
                                                        <a (click)="telecharger2()"><i class="fa fa-download"
                                                                style="font-size:20px;color:#fff"></i> </a>

                                                    </button>

                                                </div>
                                                <div class="offset-1 col-md-1">
                                                    <button class="main-btn btn btn-info" popover=" Favoris"
                                                        triggers="mouseenter:mouseleave"> <a
                                                            (click)="ajoutrecettefavorite(recette._id)"><i class="fa fa-heart-o"
                                                                style="font-size:20px;color:#fff"></i> </a>
                                                    </button>
                                                    <!-- <div *ngIf="message">
                                                        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout"
                                                            (onClosed)="onClosed(alert)">ajoutée</alert>

                                                    </div> -->
                                                    <div *ngIf="pasconnecter" router="/login"></div>
                                                </div>
                                            </div>
                                            <div class="source-recette offset-1"><b>Pour plus de détails, cliquez <a
                                                        href="{{recette.source}}">ici</a>.</b></div>
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="tire-tire">

                        </div>


                        <div class="row" id="recette-temps">

                            <div class="col-md-4"><i class="fa fa-thermometer" style="font-size:20px;color:#C90103"></i>
                                <strong> Temps de cuisson :</strong> {{recette.tpsCuisson}}</div>
                            <div class="col-md-4"><i class="fa fa-hourglass-2"
                                    style="font-size:20px;color:#C90103"></i><strong> Temps de préparation :</strong>
                                {{recette.tpsPreparation}}</div>
                            <div class="col-md-4"><i class="fa fa-clock-o"
                                    style="font-size:20px;color:#C90103"></i><strong> Temps total
                                    :</strong>{{recette.tpsTotal}}</div>
                            <!-- <div class="col-md-1"> <a class="main-btn mt-25 m4" (click)="telecharger()">print </a></div> -->
                            <!-- <div class="offset-1 col-md-1"> <a class="main-btn mt-25 m4" (click)="ajoutrecettefavorite()">heart </a>
                      </div> -->
                            <!-- <div class="col-md-1"> <button (click)="telecharger()">print </button></div> 
                       -->
                        </div>
                        <div class="tire-tire">

                        </div>


                        <div class="row">

                            <div class="tab-content col-xl-12" id="myTabContent">
                                <div class="tab-pane fade active show" id="dinner" role="tabpanel"
                                    aria-labelledby="dinner-tab">
                                    <div class="row">

                                        <div class="col-md-3">

                                            <div class="single_menu_list">
                                                <h4>Ingrédients : </h4>
                                                <!-- <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-3.jpg" alt=""> -->
                                                <div *ngFor="let ingredient of recette.ingredients"
                                                    class="menu_content">

                                                    <p>{{ingredient}}</p>

                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-md-6">

                                            <div class="single_menu_list">
                                                <h4>Préparation : </h4>
                                                <!-- <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-1.jpg" alt=""> -->
                                                <div *ngFor="let etape of recette.etapesPreparation"
                                                    class="menu_content">
                                                    <div *ngIf="etape != '' ">

                                                        <h4>{{etape}} </h4>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3">

                                            <div class="single_menu_list">
                                                <h4>Matériels : </h4>
                                                <!-- <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-3.jpg" alt=""> -->
                                                <div *ngIf="vrai">
                                                    <p>Aucun matériel n'a été précisé pour cette recette.</p>
                                                </div>
                                                <div *ngFor="let materiel of recette.materiels" class="menu_content">
                                                    <p>{{materiel}}</p>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 text-center">
                                <div class="box_btn conseil-recette">
                                    <h4>"{{recette.conseil}}"</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- fin recette area  -->
                </ng-template>



















            </div>
        </div>
        <pagination-controls (pageChange)="pageActuelle = $event"></pagination-controls>
    </div>

    <!-- <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls> -->
</section>