<p>page-recette works!</p>

<body>
    <h1>{{recette.nomRecette}}</h1>
    <table id="entete">
        <tbody>
            <tr>
                <td><img src="recette.imageRecette_" alt="image recette"></td>
                <td>Difficulté : <strong>{{recette.difficulte}}</strong><br><br>Temps de préparation et cuisson : <strong>{{recette.tpsTotal}}</strong>
                        <br>Temps de préparation : <strong>{{recette.tpsPreparation}}</strong>
                            <br>Temps de cuisson : <strong>{{recette.tpsCuisson}}</strong>
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Ingédients :</h2>
    <div *ngFor="let ingredient of recette.ingredients" id="ingredients">
        <ul>
            <li>
                <strong>{{ingredient}}</strong>
            </li> 
        </ul>
    </div>
    <h2>Préparation : </h2>
    <div *ngFor="let etape of recette.etapesPreparation" id="etapes">
        <ul>
            <li>{{etape}}
            </li>
            
        </ul>
    </div>
    <div id="pied">
        <h2>Accord met-vin : </h2>
        un bandol blanc
    </div>


</body>