<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


<body>
    <section class="menu_list mt-60 mb-60">
        <div class="container" id="recette-pdf">
            <div class="row">
                <div class="col-xl-12" id="id-section">
                    <div class="section-title text-center mb-60">
                        <!-- <p>titre</p> -->
                        <h4>{{recette.nomRecette}}</h4>


                        <!-- <div style="text-align:center">
                            
                            <star-rating value="{{recette.note}}" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" ></star-rating>
                          </div> -->


                        <div class="card">
                            <rating [ngModel]="rate" [max]="max" [readonly]="isReadonly" size="50"></rating>
                            <b>{{recette.note}}</b>
                        </div>
                    </div>
                </div>
            </div>




            <div class="container">

                <div class="row">



                    <div class="col-lg-6">
                        <div class="about-image clearfix">
                            <div class="single-image float-left">
                                <img src="{{recette.imageRecette}}" alt="">
                            </div>
                            <div class="single-image image-tow float-right">
                                <img src="{{recette.imageRecette}}" alt="">
                            </div>

                        </div>
                    </div>



                    <div class="col-xl-6 col-md-6">
                        <div class="recepies_info">
                            <div class="resepies_details">
                                <ul>
                                    <li>
                                        <p><strong>Recette de {{recette.site}}</strong> </p>
                                    </li>
                                    <li>
                                        <p><strong>Budget :</strong>{{recette.budget}} </p>
                                    </li>
                                    <li>
                                        <p><strong>Difficultée :</strong>{{recette.tpsTotal}} </p>
                                    </li>
                                    <li>
                                        <p><strong>Portion :</strong>{{recette.portion}} </p>
                                    </li>


                                </ul>
                                <div class="row">
                                    <div class="offset-1 col-md-2">
                                        <button class="main-btn">
                                            <a (click)="telecharger2()"><i class="fa fa-file-pdf-o"
                                                    style="font-size:25px;color:#fff"></i> </a>
                                        </button>
                                    </div>
                                    <div class="col-md-1"> 
                                        <button class="main-btn"> <a
                                                (click)="ajoutrecettefavorite()"><i class="fa fa-heart-o"
                                                    style="font-size:25px;color:#fff"></i> </a>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

            <div class="tire-tire">

            </div>


            <div class="row" id="recette-temps">

                <div class="col-md-4"><strong>Temps de cuisson :</strong> {{recette.tpsCuisson}}</div>
                <div class="col-md-4"><strong>Temps de préparation :</strong> {{recette.tpsPreparation}}</div>
                <div class="col-md-4"><strong>Temps total :</strong>{{recette.tpsTotal}}</div>
                <!-- <div class="col-md-1"> <a class="main-btn mt-25 m4" (click)="telecharger()">print </a></div> -->
                <!-- <div class="offset-1 col-md-1"> <a class="main-btn mt-25 m4" (click)="ajoutrecettefavorite()">heart </a>
                </div> -->
                <!-- <div class="col-md-1"> <button (click)="telecharger()">print </button></div> 
                 -->
            </div>
            <div class="tire-tire">

            </div>


            <div class="row">

                <div class="tab-content col-xl-12" id="myTabContent">
                    <div class="tab-pane fade active show" id="dinner" role="tabpanel" aria-labelledby="dinner-tab">
                        <div class="row">

                            <div class="col-md-3">

                                <div class="single_menu_list">
                                    <h4>Ingrédients : </h4>
                                    <!-- <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-3.jpg" alt=""> -->
                                    <div *ngFor="let ingredient of recette.ingredients" class="menu_content">

                                        <p>{{ingredient}}</p>
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-6">

                                <div class="single_menu_list">
                                    <h4>Préparation : </h4>
                                    <!-- <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-1.jpg" alt=""> -->
                                    <div *ngFor="let etape of recette.etapesPreparation" class="menu_content">
                                        <h4>{{etape}} </h4>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3">

                                <div class="single_menu_list">
                                    <h4>Matériels : </h4>
                                    <!-- <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-3.jpg" alt=""> -->
                                    <div *ngFor="let materiel of recette.materiels" class="menu_content">

                                        <p>{{materiel}}</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="box_btn">
                        <a href="#">CONSEIL</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>