<div class="box">
  <div class="container mt-5">
    <h1>recette works!</h1>
    <div class="card-group">
      <div *ngFor="let recette of recettes" class="col-sm-4 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <img class="card-img-top" [src]="recette.imageRecette">
          <div class="card-body">
            <h5 class="card-title">{{recette.nomRecette}}</h5>
          </div>
          <div class="card-footer">
            <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
            <span class="float-right">{{recette.note}}</span>
            <span><i class=""></i>{{recette.difficulte}}</span>
          </div>
        </div>
      </div>

        
        
         
          <!-- <div class="card-footer">
            
          </div> -->
        

      <!-- <div class="row">
        <div *ngFor="let recette of recettes" class="col-sm-4">
          <div class="card"> -->
      <!-- <div class="box-part text-center">
        <img class="card-img-top" height="350" [src]="recette.imageRecette" alt="image recette" />
        <div class="card-img-overlay">
          <p>{{recette.nomRecette}}</p>
        </div> -->
      <!-- </div>
    </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>