<!-- <h4>Content from Server</h4>
{{board}}
{{errorMessage}}-->
<div *ngIf="info.token; else loggedOut">
    <!-- <h5 class="text-primary">Bienvenu! </h5> -->
    <!-- <p> -->
    <!-- <strong>Nom utilisateur:</strong> {{info.username}}<br/> -->
    <!-- <strong>Roles:</strong> {{info.authorities}}<br />
      <strong>Token:</strong> {{info.token}}. -->
    <!-- </p>
     <button class="btn btn-secondary" (click)="logout()">Deconnexion</button> -->
</div>

<ng-template #loggedOut>
</ng-template>

<section class="page-section bg-light" id="portfolio">
    <div class="container col-sm-7">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Vos recettes favorites!</h2>
            <h3 class="section-subheading text-muted">Régalez-vous !</h3>
        </div>
        <div class="text-center" *ngIf="messagevide">
           <b> <p> Vous n'avez pas de recettes enregistrées. <br> Cliquez <a routerLink="/recette"> ici </a>pour
                decouvrir nos recettes.</p></b>
        </div>
        <div class="row">
            <div *ngFor="let recette of recettes | paginate: { itemsPerPage: 18, currentPage: pageActuelle }"
                class="col-lg-4 col-sm-5 mb-4">
                <!-- <div class="col-md-1">  -->
                <!-- <button class="main-btn "> -->
                <a class="d-flex justify-content-end trash_icon " (click)="supprimerRecette(recette)">
                    <span><i class="fa fa-trash" popover="Supprimer" 
                        triggers="mouseenter:mouseleave" style="font-size:25px;color:#c90104af"></i></span> </a>
                <!-- </button> -->
                <!-- </div> -->
                <div class="portfolio-item">
               
                   
                   <a class="portfolio-link" routerLink="/pageRecette"  data-toggle="modal" (click)="recupererIdRecette(recette)">
                         <div class="portfolio-hover" > 
                            <div class="portfolio-hover-content"></div>
                        </div>
                        <img class="img-fluid" [src]="recette.imageRecette" alt="...." />
                    </a>


                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{recette.nomRecette}}</div>
                        <div class="portfolio-caption-subheading text-muted">{{recette.note}}</div>

                    </div>

                </div>
            </div>
        </div>
        <pagination-controls (pageChange)="pageActuelle = $event"></pagination-controls>
    </div>
</section>