<section class="page-section bg-light" id="portfolio">
    <div class="container col-sm-7">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Les meilleures Recettes</h2>
            <h3 class="section-subheading text-muted">Réunis pour VOUS !!!</h3>
        </div>
        <div class="row">
            <div *ngFor="let recette of recettes" class="col-lg-4 col-sm-5 mb-4" >
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" (click)="recupererIdRecette(recette)">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"></div>
                        </div>
                        <img class="img-fluid" [src]="recette.imageRecette" alt="...." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{recette.nomRecette}}</div>
                        <div class="portfolio-caption-subheading text-muted">{{recette.note}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>