<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Bienvenue Parmi Nous!</div>
        <div class="masthead-heading text-uppercase">Trouver une recette n'a jamais été aussi facile...</div>
        <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
    </div>
</header>
<section class="page-section bg-light" id="portfolio">
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">NOTRE SELECTION POUR VOUS</h2>
                <h3 class="section-subheading text-muted">A vous de cliquer </h3>
            </div>


            <div class="row text-center">
                <div class="col-md-4" class="col-lg-4 col-sm-5 mb-4">
                    <div class="portfolio-item">

                        <a class="portfolio-link" data-toggle="modal" (click)=" recupererRecetteParCategorie('patisserie')" >
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">Pâtisserie</div>
                            </div>
                            <img class="img-fluid"
                                src="https://lylemi-projet-al04.s3.eu-west-3.amazonaws.com/image_categorie/patisserie1_cat.jpg"
                                alt="...." />
                        </a>
                        <h4 class="my-3">Pour les plus gourmants</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime
                            quam
                            architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                </div>

                <div class="col-md-4" class="col-lg-4 col-sm-5 mb-4">
                    <div class="portfolio-item">

                        <a class="portfolio-link" data-toggle="modal" (click)=" recupererRecetteParCategorie('sansOeufs')">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">Sans oeufs</div>
                            </div>
                            <img class="img-fluid"
                                src="https://lylemi-projet-al04.s3.eu-west-3.amazonaws.com/image_categorie/sans-oeufs1.PNG"
                                alt="...." />
                        </a>
                        <h4 class="my-3">Sans Oeufs</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime
                            quam
                            architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                </div>
                <div class="col-md-4" class="col-lg-4 col-sm-5 mb-4">
                    <div class="portfolio-item">

                        <a class="portfolio-link" data-toggle="modal" (click)=" recupererRecetteParCategorie('vegetarien')">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">Végétarien</div>
                            </div>
                            <img class="img-fluid"
                                src="https://lylemi-projet-al04.s3.eu-west-3.amazonaws.com/image_categorie/vegetarien2_cat.jpg"
                                alt="...." />
                        </a>
                        <h4 class="my-3">Vous êtes végétarien ?</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime
                            quam
                            architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                </div>
                <div class="col-md-4" class="col-lg-4 col-sm-5 mb-4">
                    <div class="portfolio-item">

                        <a class="portfolio-link" data-toggle="modal" (click)=" recupererRecetteParCategorie('salade')">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">Salades</div>
                            </div>
                            <img class="img-fluid"
                                src="https://lylemi-projet-al04.s3.eu-west-3.amazonaws.com/image_categorie/salade1_cat.jpg"
                                alt="...." />
                        </a>
                        <h4 class="my-3">Mangez léger</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime
                            quam
                            architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                </div>

                <div class="col-md-4" class="col-lg-4 col-sm-5 mb-4">
                    <div class="portfolio-item">

                        <a class="portfolio-link" data-toggle="modal" (click)=" recupererRecetteParCategorie('sansGluten')" >
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">Sans gluten</div>
                            </div>
                            <img class="img-fluid"
                                src="https://lylemi-projet-al04.s3.eu-west-3.amazonaws.com/image_categorie/sans-gluten1_cat.jpg"
                                alt="...." />
                        </a>
                        <h4 class="my-3">Allergique au Gluten ?</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime
                            quam
                            architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                </div>
                <div class="col-md-4" class="col-lg-4 col-sm-5 mb-4">
                    <div class="portfolio-item">

                        <a class="portfolio-link" data-toggle="modal" (click)=" recupererRecetteParCategorie('chocolat')">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content" >Chocolat</div>
                            </div>
                            <img class="img-fluid"
                                src="https://lylemi-projet-al04.s3.eu-west-3.amazonaws.com/image_categorie/chocolat1_cat.jpg"
                                alt="...." />
                        </a>
                        <h4 class="my-3">Le 8ème péché</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime
                            quam
                            architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>